<mat-form-field class="columns">
    <mat-label *ngIf="selectedFiles; else newFile">{{selectedFiles.item(0).name}}</mat-label>
    <ng-template #newFile>
        <mat-label>Choose file</mat-label>
    </ng-template>
    <input matInput disabled>
    <button mat-icon-button matSuffix (click)="fileInput.click()">
        <mat-icon color="accent">attach_file</mat-icon>
    </button>
    <input hidden (change)="selectFile($event)" #fileInput type="file" id="file">
</mat-form-field>
<mat-progress-spinner class="spinner" mode="indeterminate" color="accent" *ngIf="IsWait" >
</mat-progress-spinner>
<app-data-table *ngIf="fileuploaded"></app-data-table>