<div class="example-header">
    
    <div>
    <mat-form-field class="form-field">
        <mat-label>Select a Column</mat-label>
        <mat-select (selectionChange)="colChange()" [(value)]="filterCol">
            <mat-option *ngFor="let column of displayedColumns" value="{{column}}">{{column}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="form-field">
        <mat-label>Select type of filter</mat-label>
        <mat-select [(value)]="filterName">
            <mat-option *ngIf="typeOfFilter == 'string'" value="contains">contains</mat-option>
            <mat-option *ngIf="typeOfFilter == 'string'" value="notContains">does not contains</mat-option>
            <mat-option *ngIf="typeOfFilter == 'number'" value="equals">equals</mat-option>
            <mat-option *ngIf="typeOfFilter == 'number'" value="greater">greater than</mat-option>
            <mat-option *ngIf="typeOfFilter == 'number'" value="less">less than</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="form-field">
        <input matInput [(ngModel)]="filterText" placeholder="Filter">
    </mat-form-field>
</div>
<div>
    <button mat-raised-button color="accent" (click)="applyFilter()">Apply Filter</button>
    <button mat-raised-button color="accent" (click)="clearFilter()">Clear Filter</button>
</div>
</div>

<div class="example-container mat-elevation-z8">

    <mat-table [dataSource]="dataSource" >
        <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
            <mat-header-cell *matHeaderCellDef> {{column}} </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row[column]}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[50]" showFirstLastButtons></mat-paginator>

</div>