<div class="example-header">
    <!-- <mat-form-field>
        <mat-label>Select a Column</mat-label>
        <mat-select [(value)]="filterCol">
            <mat-option *ngFor="let column of displayedColumns" value="{{column}}">{{column}}</mat-option>
        </mat-select>
    </mat-form-field> -->
    <mat-form-field>
        <input matInput [(ngModel)]="filterText" (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <button mat-raised-button (click)="clearFilter()">Clear Filter</button>
</div>

<div class="example-container mat-elevation-z8">

    <mat-table [dataSource]="dataSource" matSort>
        <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row[column]}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[50]" showFirstLastButtons></mat-paginator>

</div>